@page
@model final_ShotHussar.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Player First Name <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Player[0].FirstName)</a>
            </th>
            <th>
                @{
                    var lastSort = "last_asc";
                    if (Model.CurrentSort == "last_asc")
                    {
                        lastSort = "last_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@lastSort">@Html.DisplayNameFor(model => model.Player[0].LastName)</a>
            </th>
            <th>
                @{
                    var posSort = "pos_asc";
                    if (Model.CurrentSort == "pos_asc")
                    {
                        posSort = "pos_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@posSort">@Html.DisplayNameFor(model => model.Player[0].Position)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].AtBat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Runs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].RBI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].StrikeOuts)
            </th>
            <th>
                @{
                    var avgSort  = "avg_asc";
                    if (Model.CurrentSort == "avg_asc")
                    {
                        avgSort = "avg_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@avgSort">@Html.DisplayNameFor(model => model.Player[0].BattingAvg)</a>
            </th>
            <th>
                @{
                    var teamSort = "team_asc";
                    if (Model.CurrentSort == "team_asc")
                    {
                        teamSort = "team_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@teamSort">@Html.DisplayNameFor(model => model.Player[0].MLBTeam)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtBat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrikeOuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BattingAvg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLBTeam)
            </td>
            <td>
                @foreach (var team in item.PlayerTeams!)
            {
                @team.Team.TeamName <br />
            }
            @if (item.PlayerTeams.Count == 0)
            {
                @:Not on Team
            } 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerID">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.PlayerID">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
@{
    var prevDisabled="";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }

    var nextDisabled="";
    if (Model.totalPlayers - (Model.PageNum - 1)* Model.PageSize <= 10)
    {
        nextDisabled = "disabled";
    }
    
}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@avgSort" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@avgSort" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
  </ul>
</nav> 
